.caja-login{
    width:50%;    
    margin:auto;
  /*   padding-top: 15%; */

}


span.titulo {
    line-height: 100px;
   
    padding-top: 10%;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}
/* colores  */

nav.navbar.navbar-expand-lg {
background-color: #3d8983;
color: white;
}
a.navbar-brand {
color: white;
}
a.nav-link {
color: white;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
color: rgb(255 248 248 / 90%);
}
button.btn.btn-outline-success {
color: white;
border-color: aliceblue;
}



.container-welcome {
    font-size: 1.5em;
}


/** HOME */
.formulario-logeo {
    width: 50%;
    margin: auto;
   /*  padding-top: 15%; */
}

.container-welcome {
    margin: 3% 0% 0% 5%;
}


.tabla-usuarios {
    padding: 5%;
}


.container-description{
    margin: 3% 0% 0% 5%;

}


.logo{
display: flex;
justify-content: space-around;
margin: auto;
margin-bottom: 20px;
}

